#signup-login {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#signup-login {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #663399;
}

#signup-login {
  width: 85vw;
  height: 62vh;
  position: absolute;
  box-shadow: 10px 5px 15px 5px rgba(0, 0, 0, 0.5);
}
#signup-login-hdr-btn-group {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
#signup-login-hdr-btn-group .btn {
  border-radius: 0;
}
#signup-login-hdr-btn-group-login {
  grid-column: 1/3;
  display: inline-block;
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.9rem 1.2rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border-color: white;
  border-width: 1px;
}
#signup-login-hdr-btn-group-signup {
  grid-column: 3/-1;
  display: inline-block;
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.9rem 1.2rem;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border-color: white;
  border-width: 1px;
}
#signup-login #signup-form {
  background-color: #9966cc;
  width: 100%;
  color: white;
  font-size: 1.75rem;
}
#signup-login #signup-form-control {
  font-size: 80%;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, auto);
  align-items: center;
}
#signup-login #signup-form-control label {
  grid-column: 1/2;
}
#signup-login #signup-form-control input[type=text], #signup-login #signup-form-control input[type=password], #signup-login #signup-form-control input[type=email] {
  grid-column: 2/-1;
  background-color: #b38cd9;
  outline: none;
  outline-style: none;
  padding: 0.5rem;
  font-size: 85%;
  color: white;
}
#signup-login #signup-form-control input[type=text]::placeholder, #signup-login #signup-form-control input[type=password]::placeholder, #signup-login #signup-form-control input[type=email]::placeholder {
  color: white;
}
#signup-login #signup-form-control input[type=text]:focus, #signup-login #signup-form-control input[type=password]:focus, #signup-login #signup-form-control input[type=email]:focus {
  color: white;
  caret-color: white;
}
#signup-login #signup-form-control input[type=text]:invalid, #signup-login #signup-form-control input[type=password]:invalid, #signup-login #signup-form-control input[type=email]:invalid {
  border-color: red;
  color: red;
}
#signup-login #signup-form-control input[type=text]:invalid ~ .error-message, #signup-login #signup-form-control input[type=password]:invalid ~ .error-message, #signup-login #signup-form-control input[type=email]:invalid ~ .error-message {
  display: block;
}
#signup-login #signup-form-control .error-message {
  grid-column: 2/-1;
  display: none;
  font-size: 85%;
  color: red;
  margin-top: 0.5rem;
  font-style: italic;
}
#signup-login #signup-form-control-hidden {
  display: block;
  width: 100%;
  height: 232px;
}
#signup-login #signup-form-btn-group {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
#signup-login #signup-form-btn-group .btn {
  display: inline-block;
  color: #fff;
  font-family: inherit;
  font-size: 85%;
  text-decoration: none;
  padding: 0.9rem 1.2rem;
  margin: 0;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #402060;
  border-radius: 0;
}
#signup-login #signup-form-btn-group-reset {
  grid-column: 1/3;
}
#signup-login #signup-form-btn-group-btn {
  grid-column: 3/-1;
}
#signup-login #login-form {
  background-color: #9966cc;
  width: 100%;
  color: white;
  font-size: 1.75rem;
}
#signup-login #login-form-control {
  font-size: 80%;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, auto);
  align-items: center;
}
#signup-login #login-form-control label {
  grid-column: 1/2;
}
#signup-login #login-form-control input[type=text], #signup-login #login-form-control input[type=password], #signup-login #login-form-control input[type=email] {
  grid-column: 2/-1;
  background-color: #b38cd9;
  outline: none;
  outline-style: none;
  padding: 0.5rem;
  font-size: 85%;
  color: white;
}
#signup-login #login-form-control input[type=text]::placeholder, #signup-login #login-form-control input[type=password]::placeholder, #signup-login #login-form-control input[type=email]::placeholder {
  color: white;
}
#signup-login #login-form-control input[type=text]:focus, #signup-login #login-form-control input[type=password]:focus, #signup-login #login-form-control input[type=email]:focus {
  color: white;
  caret-color: white;
}
#signup-login #login-form-control input[type=text]:invalid, #signup-login #login-form-control input[type=password]:invalid, #signup-login #login-form-control input[type=email]:invalid {
  border-color: red;
  color: red;
}
#signup-login #login-form-control input[type=text]:invalid ~ .error-message, #signup-login #login-form-control input[type=password]:invalid ~ .error-message, #signup-login #login-form-control input[type=email]:invalid ~ .error-message {
  display: block;
}
#signup-login #login-form-control .error-message {
  grid-column: 2/-1;
  display: none;
  font-size: 85%;
  color: red;
  margin-top: 0.5rem;
  font-style: italic;
}
#signup-login #login-form-control-hidden {
  display: block;
  width: 100%;
  height: 232px;
}
#signup-login #login-form-btn-group {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
#signup-login #login-form-btn-group .btn {
  display: inline-block;
  color: #fff;
  font-family: inherit;
  font-size: 85%;
  text-decoration: none;
  padding: 0.9rem 1.2rem;
  margin: 0;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #402060;
  border-radius: 0;
}
#signup-login #login-form-btn-group-reset {
  grid-column: 1/3;
}
#signup-login #login-form-btn-group-btn {
  grid-column: 3/-1;
}
#signup-login .hidden {
  display: none;
}