@import 'utils/utils', 'utils/button';

@mixin signup($bg-color, $text-color: white, $error-color: red, $font-size: 1.75rem) {
    background-color: lighten($bg-color, 20%);
    width: 75%;
	color: $text-color;
	font-size: $font-size;
	position: absolute;
	@extend %center-object;
    @include box-shadow(0, 3px, 10px, 0, rgb(0 0 0 / 0.2), false);

    &-title {
	    font-size: 100%;
	    text-align: center;
	}
	&-control {
	   font-size: 80%; 
	   padding: 1rem 0.5rem;
	   display: grid;
	   grid-template-columns: repeat(4, 25%);
	   grid-template-rows: repeat(3, auto);

	   align-items: center;

	   label {
		   grid-column: 1 / 2;
	   }
	   input[type=text], input[type=password], input[type=email] {
		   grid-column: 2 / -1;
		   background-color: lighten($bg-color, 30%);
		   outline: none;
		   outline-style:none;
		   padding: 0.5rem;
		   font-size: 85%;
		   color: white;
		   &::placeholder {
			   color: $text-color;
		   }
		   &:focus {
			  color: $text-color;
			  caret-color: $text-color;
		   }
		   &:invalid {
			  border-color: $error-color;
			  color: $error-color;

			  & ~ .error-message {
				  display: block;
			  }
		   }
	   }
	   .error-message {
		  grid-column: 2 / -1;
		  display: none;
		  font-size: 85%;
		  color: $error-color;
		  margin-top: 0.5rem;
		  font-style: italic;
	   }
	}
	&-btn-group {
	   display: grid;
	   grid-template-columns: repeat(4, 25%);
	   .btn {
		   @include button(85%, 0.9rem 1.2rem, 0, 1px solid black);
		   background-color: darken($background-color, 15%);
		   border-radius: 0;
	   }
	   &-reset {
		   grid-column: 1 / 3;
	   }
	   &-btn {
		   grid-column: 3 / -1;
	   }
	}
}
