@import 'utils/utils', 'utils/config', 'utils/button', 'login-signup', 'hdr';

$background-color: #663399;
$selection-width: 85vw;
$selection-height: 60vh;
body {
   background-color: $background-color;
}
#dashboard-container {
	width: 85%;
	margin: 0.75rem auto;
	padding: 1.2rem;
	text-align: center;
	background-color: white;
    h1 {
		font-size: 1.75rem;
	}
	p {
	    margin: 1.2rem 0;
	    font-size: 1.25rem;
	}
}
#signup-login {
   width: $selection-width;
   height: $selection-height;
   position: absolute;                                                                                  
   @extend %center-object;
   @include box-shadow(10px, 5px, 15px, 5px, rgb(0 0 0 / 0.5), false);
   &-hdr {
	   @include hdr;
   }
   #signup-form {
	   @include l-s(100%, $background-color);
   }
   #login-form {
	   @include l-s(100%, $background-color);
   }
   .hidden {
	   display: none;
   }
}
