@import 'utils/config', 'utils/utils', 'utils/button';

$background-color: rgba(102, 51, 153, 0.9);
body {
    background-color: $background-color;
}

#signup-form {
    background-color: lighten($background-color, 20%);
    width: 75%;
	color: white;
	position: absolute;
	@extend %center-object-horz;
	top: 25%;
    @include box-shadow(0, 3px, 10px, 0, rgb(0 0 0 / 0.2), false);

    &-title {
		font-size: 1.75rem;
	    text-align: center;
	}
	&-control {
	   padding: 2rem 0;
	   display: grid;
	   grid-template-columns: repeat(4, 25%);
	   grid-template-rows: repeat(3, auto);

	   align-items: center;

	   label {
		   grid-column: 1 / 2;
		   padding-left: 0.5rem;
		   font-size: 1.5rem;
	   }
	   input[type=text], input[type=password], input[type=email] {
		   grid-column: 2 / -1;
		   background-color: lighten($background-color, 30%);
		   outline: none;
		   outline-style:none;
		   padding: 0.5rem;
		   font-size: 1.2rem;
		   &::placeholder {
			   color: white;
		   }
		   &:focus {
			  color: white;
			  caret-color: white;
		   }
		   &:invalid {
			  border-color: red;
			  color: red;

			  & ~ .error-message {
				  display: block;
			  }
		   }
	   }
	   .error-message {
		  grid-column: 2 / -1;
		  display: none;
		  font-size: 1.25rem;
		  color: red;
		  margin-top: 0.5rem;
		  font-style: italic;
	   }
	}
	&-btn-group {
	   display: flex;
	   justify-content: space-evenly;
	   .btn {
		   @include button(1.2rem, 0.9rem 1.2rem, 0.5rem 0);
		   background-color: darken($background-color, 15%);
		   border-radius: 0;
	   }
	}
}

